<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173616866676-i2hs0gsu93mmcsrk0v7niik92mpabl7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173616866676-i2hs0gsu93mmcsrk0v7niik92mpabl7h</string>
	<key>API_KEY</key>
	<string>AIzaSyDT7EoIRqfcQr60Xj77AQMD5tzfk1GMpjU</string>
	<key>GCM_SENDER_ID</key>
	<string>173616866676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.coretxt</string>
	<key>PROJECT_ID</key>
	<string>core-txt</string>
	<key>STORAGE_BUCKET</key>
	<string>core-txt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173616866676:ios:74317d455a5e7251caf821</string>
</dict>
</plist>